<!doctype html>
  <html lang='en'>
    <head>
      <meta charset='UTF-8'>
      <meta name="viewport" content="width=device-width initial-scale=1.0">
      <title>Create Gropus and Add Users Page</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel='stylesheet' type='text/css' href='../css/style.css'/>
    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a href='#' class="navbar-brand"> PostIt</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="#"/> Message Board</a></li>
              <li class="active"><a href="#"/> Create Group</a></li>
              <li><a href="#"/> Users</a></li>
              <li><a href="#"/> Send message</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid" >
        <div class="row">
          <div class="col-xs-12 col-sm-3" id="listPane">
            <div id="userPic">
              <img alt="User's Image" src="../css/avatar1.jpg" class="img-circle"/>
            </div>
            <div class="list-group">
              <a class="list-group-item" href="#" data-toggle="modal" data-target="#createGroup">
                <span class="glyphicon glyphicon-plus"></span> Add Group <span class="badge">4</span></a>
              <a class="list-group-item" href="#" data-toggle="modal" data-target="#selectUser">
                <span class="glyphicon glyphicon-plus"></span> Add User<span class="badge">7</span></a>
            </div>
            <div id="createGroup" class="modal fade" role="dialog">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      close <span class="glyphicon glyphicon-remove"></span></button>
                    <h4 class="modal-title text-success text-center">Create a Group</h4>
                  </div>
                  <div class="modal-body">
                    <form role="form">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input class="form-control" type="text" placeholder="groupname"/>
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon">Text</span>
                        <input class="form-control" type="text" placeholder="description"/>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block pull-left" data-dismiss="modal">Create</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="selectUser" class="modal fade" role="dialog">
                <div class="modal-dialog modal-md">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        close <span class="glyphicon glyphicon-remove"></span></button>
                      <h4 class="modal-title text-success text-center">Add users to group</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="listofgroups">Select a group:</label>
                        <select class="form-control" id="listofgroups">
                          <option>group 1</option>
                          <option>group 2</option>
                          <option>group 3</option>
                          <option>group 4</option>
                        </select>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">user 1 from database</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">user 2 from database</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">user 3 from database</label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary btn-block pull-left" data-dismiss="modal">Create</button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5" id="pageContent" >
            <div id="selectbottom" >
              <div class="form-group">
                <label for="listofgroups" class="lead text-light">Select a group:</label>
                <select class="form-control" id="listofgroups">
                  <option>group 1</option>
                  <option>group 2</option>
                  <option>group 3</option>
                  <option>group 4</option>
                </select>
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item">User 1</li>
              <li class="list-group-item">User 2</li>
              <li class="list-group-item">User 3</li>
              <li class="list-group-item">User 4</li>
            </ul>
          </div>
        </div>  
      </div>
    </body>
  </html>