

<!doctype html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<title>Login Page</title>
<link rel='stylesheet' type='text/css' href='../css/loginPage.css'/>
</head>
<body>
	<h1>Login to the PostIt App</h1>
<form action='/api/user/signin' method='post'>
<fieldset>
<label for='username'>Username:</label>
<input type='text' name='username' value='username'>
<label for='password'>Password:</label>
<input type='password' name='password' value='password'>
<button type='submit'>Login</button>
</fieldset>
</form>
</body>
</html>