<!doctype html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<title>Login Page</title>
<link rel='stylesheet' type='text/css' href='../css/loginPage.css'/>
</head>
<body>
<form action=''>
<fieldset>
<label for='username'>Username:</label>
<input type='text' name='username' value='username'>
<label for='password'>Password:</label>
<input type='password' name='password' value='password'>
<label for='email'>E-mail:</label>
<input type='email' name='email' value='e-mail address'>
<button type='submit'>Sign Up</button>
<button type='submit'>or Login</button>
</fieldset>
</form>
</body>
</html>