<!--HTML for message board-->

<!doctype html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<title>Message Board Page</title>
<link rel='stylesheet' type='text/css' href='../css/messageBoard.css'/>
</head>
<body>

<div class='divcontainer'>
	<p>Group Name Goes here</p>
message from goroup would be placed here.
</div>
<div class='divcontainer'>
	<p>Group Name Goes here</p>
message from goroup would be placed here
</div>
<div class='divcontainer'>
	<p>Group Name Goes here</p>
message from goroup would be placed here
</div>
<div class='divcontainer'>
	<p>Group Name Goes here</p>
message from goroup would be placed here
</div>
</body>
</html>