<!doctype html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<title>Send Message To Goup Page</title>
<link rel='stylesheet' type='text/css' href='../css/sendMessage.css'/>
</head>
<body>

<form action='/api/group/groupid/message' method='post'>
<fieldset>
<!--The value would be the groupID from the database-->
<label>Select a group to post a message to</label>
<select id='selectGroup'>
	<option value='groupID'>GroupName</option>
</select> <br>
<label id='messageInstruction'>Enter your message below</label><br>
<textarea id='messageBox' rows='20' cols='50'></textarea>
<input type='submit' value='Send Message' id='sendMessage'>
</fieldset>

</form>
</body>
</html>