<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message To Goup Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' type='text/css' href='../css/style.css'/>
  </head>
  <body>
    <div class="container-fluid">
      <form action='/api/group/groupid/message' method='post' class="form-horizontal">
        <fieldset>
          <div class="container-fluid">
            
            <div class="form-group">
              <h3 class="text-center">Select a group to post a message to</h3>
              <select id='selectGroup' class="form-control">
                <option value='groupID' id='groupID'>Family</option>
                <option value='groupID' id='groupID'>Friends</option>
                <option value='groupID' id='groupID'>Project Collegues</option>
              </select>
            </div>

            <div class="form-group">
              <h3 for='messageBox' class="text-center">Enter your message below</h3>
              <textarea id='messageBox' rows='10' class="form-control" /></textarea>
            </div>

            <div class="form-group">
              <input type='button' value='Send Message' class='btn form-conrol' id='sendMessage'>
            </div>

          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>