

<!doctype html>
<html lang='en'>
  <head>
    <title>Sign-up Page</title>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' type='text/css' href='../css/style.css'/>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a href='#' class="navbar-brand"> PostIt</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class='container-fluid'>
      <h1 class="text-center"> Welcome to the PostIt App</h1>
      <h3 class="text-center"> Please sign-up or login below</h3>
    </div>

    <div class='container-fliud'>
      <form action='/api/user/signup' method='post' class="form-horizontal">
        <fieldset>

          <div class='form-group form-group-lg'>
            <label for='username' class="control-label col-sm-4 col-sm-4 col-lg-2">Username </label>
            <div class="col-sm-8 col-lg-8">
              <input type='text' id='username'  class='form-control' placeholder=" Enter username" />
            </div>
          </div>

          <div class='form-group form-group-lg'>
            <label for='password' class="control-label col-sm-4 col-lg-2">Password </label>
            <div class="col-sm-8 col-lg-8">
              <input type='password' id='pwd' class='form-control' placeholder="Enter password" />
            </div>
          </div>

          <div class='form-group form-group-lg'>
            <label for='email' class="control-label col-sm-4 col-sm-4 col-lg-2">Email </label>
            <div class="col-sm-8 col-lg-8">
              <input type='email' id='email' class='form-control' placeholder="Enter email" />
            </div>
          </div>

          <div class="form-group">
            <div class=" col-sm-offset-4 col-sm-4">
              <button class='btn btn-block' type='submit'>Sign Up</button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
              <button class='btn btn-block' type='button' id='btn-loginPage'>or Login</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>

  </body>
</html>