

<!doctype html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<title>Sign-up Page</title>
<link rel='stylesheet' type='text/css' href='../css/signUpPage.css'/>
<script type="text/javascript" src='/javascript/jquery.js'></script>
<script type="text/javascript" src='/javascript/main.js'></script>
</head>
<body>
	<h1>Welcome to the PostIt App</h1>
	<h3>Please sign-up or login below</h3>
<form action='/api/user/signup' method='post'>
<fieldset>
<label for='username'>Username:</label>
<input type='text' name='username' value='username'>
<label for='password'>Password:</label>
<input type='password' name='password' value='password'>
<label for='email'>E-mail:</label>
<input type='email' name='email' value='e-mail address'>
<button type='submit'>Sign Up</button>
<button type='button' id='btn-loginPage'>or Login</button>
</fieldset>
</form>
</body>
</html>