<!DOCTYPE html>
<html lang="en">
<head>
	<!--Metas-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<meta name="description" content="PostIt is a simple application that allows friends and colleagues create groups for notifications.">
	<meta name="author" content="Hussain Ademola">
  <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/custom.css">

</head>
<body>
<style type="text/css">
.login-register {
background: url(images/bg2.jpg) no-repeat center center / cover !important;
height: 100%;
position: fixed;
}
</style>

  <section id="wrapper" class="login-register">
		<div class="login-box">
			<div class="white-box">
				<h1>PostIt</h1>
				<!--<h3>Sign in</h3>-->
				<form>
					<div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				  </div>
					<div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </div>
					<div class="form-group text-center ">
	            <button class="btn btn-info btn-lg btn-block text-uppercase" type="submit">Log In</button>
	        </div>
					<div class="form-group">
	          <div class="col-sm-12 text-center">
	            <p>Don't have an account? <a href="signup.html" class="text-primary"><b>Sign Up</b></a></p>
	          </div>
	        </div>
					<br>
				</form>
			</div>
		</div>
	</section>
<script src="js/bootstrap.js"></script>
</body>
</html>
