<!DOCTYPE html>
<html lang="en">
<head>
	<!--Metas-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<meta name="description" content="PostIt is a simple application that allows friends and colleagues create groups for notifications.">
	<meta name="author" content="Ademola Hussain">
  <link rel="stylesheet" href="css/bootstrap.css">
  <style type="text/css">@font-face { font-family:Oswald; src: url('font/Oswald-Light.ttf'); }</style>
	<link rel="stylesheet" href="main.css">

</head>
<body>
<style type="text/css">
.login-register {
background: url(images/bg2.jpg) no-repeat center center / cover !important;
height: 100%;
position: fixed;
}
</style>

  <section id="wrapper" class="login-register">
    <div class="wrapper_cen">
      <div class="row">
        <div class="col-md-6 welcome">
            <h1>Welcome to the Biggest<br>
              Social Network in the World
            </h1>
            <p>We are the best and biggest social network with 5 billion active
              users all around the world. Create account, create group
              add other users to your group and post messages
            </p>

            <a href="#" class="btn btn-md btn-border btn-white">Register Now!</a>
        </div>
        <div class="col-md-6 reg_form">
          <div class="reg_form_cen">
            <h4>Login to PostIt</h4>
            <br>
            <form method="POST" action="#">
            <input type="text" name="username" required id="username" placeholder="Username" value="">
            <input type="password" name="password" required id="password"  placeholder="Password" value="">
            <input type="submit" value="Login">
            </form>
            <p align="center">Don't have an account? <a href="signup.html" class="text-primary"><b>Sign Up</b></a></p>
          </div>
          </div>
        </div>
      </div>
    </div>
	</section>
<script src="js/bootstrap.js"></script>
</body>
</html>
