
body {
  font-family: Oswald;
  margin: 0;
  overflow-x: hidden;
  color: #686868;
  font-weight: 300; }

html,body,.container
{
    height:100%;
}


#wrapper {
  width: 100%; }

.wrapper_cen{
  width: 850px;
  margin: 7% auto;

}

.welcome{
  color: #ffffff;
  margin-top: 8%;

}

.welcome h1{
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.welcome p{
  font-size: 18px;
  padding: 0;
  line-height: 19px;
  margin-bottom: 30px;
}

.btn {
    display: inline-block;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    position: relative;
}

.btn-white {
    color: #fff;
}

.btn-border {
    border: solid 2px;
}

.btn-md {
    padding: 1rem 3.5rem;
    font-size: 2rem;
    border-radius: 0.3rem;
}

.reg_form_cen{
  width: 350px;
  margin: 0 auto;
  background-color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 10%;
  padding-top: 10%;
}

.reg_form_cen h4{
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.reg_form_cen form{
  margin-left: 13.5%;

}

.reg_form_cen input[type="password"] {
  background-color: transparent !important;
  border: 1px solid #6a6a6a;
  border-radius: 7px;
  text-align: left;
  padding: 8px;
  font-size: 20px;
  width: 250px;
  color: #333333;
  margin-bottom: 15px;
  margin-left: 2px; }

.reg_form_cen input[type="text"] {
  background-color: transparent !important;
  border: 1px solid #6a6a6a;
  border-radius: 7px;
  text-align: left;
  padding: 8px;
  font-size: 20px;
  width: 250px;
  color: #333333;
  margin-bottom: 15px;
  margin-left: 2px; }

.reg_form_cen input[type="submit"] {
background-color: #3F4257; !important;
border: 1px solid #3F4257;
border-radius: 7px;
text-align: center;
padding: 8px;
font-size: 20px;
width: 250px;
color: #ffffff;
margin-bottom: 15px;
margin-left: 2px; }

.container
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header
{
    background: green;
    height: 50px;
}

.row
{
    height: 100%;
    display: table-row;
    margin-top: -50px!important;
}
@media (min-width: 992px) {
  .row .no-float {
      display: table-cell;
      float: none;
  }
}
.col-md-2 {
    background: #ffffff!important;
    border-right: 1px #e5e5e5 solid;

}
.col-md-10 {
    background: #EDF2F6!important;
}

ul.navbar_sidebar{
  list-style-type: none;
  padding-top: 20%;
}

ul.navbar_sidebar li{
  text-align: left;
  padding-bottom: 20%;
  font-size: 18px;
  margin-left: -30px;
}

ul.navbar_sidebar li a{
  color: #000000;
}

.small-cards{
  background-color: #ffffff!important;
}

.btn-primary {
    color: #fff;
    background-color: #3F4257!important;
    border-color: #3F4257!important;
}
