<!DOCTYPE html>
<html lang="en">
<head>
	<!--Metas-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manage Group</title>
	<meta name="description" content="PostIt is a simple application that allows friends and colleagues create groups for notifications.">
	<meta name="author" content="Ademola Hussain">
  <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/font-awesome.css">
  <style type="text/css">@font-face { font-family:Oswald; src: url('font/Oswald-Light.ttf'); }</style>
	<link rel="stylesheet" href="main.css">
	<script src="https://use.fontawesome.com/769fede808.js"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid my_nav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="font-size:40px;">PostIt</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#"  style="font-size:18px" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b><i class="fa fa-user-circle"></i> &nbsp;Welcome Ademola</b><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" style="font-size:18px">Account Setting</a></li>
                  <li><a href="#" style="font-size:18px">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
			<div class="container" style="margin-top:-70px;">
	    <div class="row">
	        <div class="col-md-2 no-float">
						<ul class="navbar_sidebar">
							<li><a href="#">View all Groups</a><i class="pull-right fa fa-users"></i></li></li>
							<li><a href="#">Add Group</a> <i class="pull-right fa fa-plus-circle"></i></li>
							<li><a href="#">Add Users</a> <i class="pull-right fa fa-user-plus"></i></li>
						</ul>
					</div>
	        <div class="col-md-10 no-float">
						<div class="container" style="">
							<div class="row">
								<h1><i class="fa fa-icon-activity"></i> All Groups</h1><br>
								<div class="col-md-3 small-cards" style="background-color:#ffffff; margin-right:20px;
								border-radius:5px; padding:5px; text-align:center"><br>
									<img src="images/avatar1.jpg" style="border-radius:100%; width:120px">
									<h4><b>My Family</b></h4>
									6 users in the Group<br><br><br>
									<a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Add New User</a><br><br>
								</div>
								<div class="col-md-3 small-cards" style="background-color:#ffffff; margin-right:20px;
								border-radius:5px;padding:5px; text-align:center"><br>
									<img src="images/avatar2.png" style="border-radius:100%; width:120px">
									<h4><b>BootCamp Cycle 23 Friends</b></h4>
									24 users in the Group<br><br><br>
									<a href="#" class="btn btn-primary" ><i class="fa fa-plus"></i> Add New User</a><br><br>
								</div>

								<div class="col-md-3 small-cards"
								style="background-color:#ffffff; padding:5px; border-radius:5px; text-align:center"><br>
								<img src="images/friend-group2.jpg" style="border-radius:100%">
									<h4><b>Close Friends</b></h4>
									4 users in the Group<br><br><br>
									<a href="#" class="btn btn-primary"class="btn btn-primary"><i class="fa fa-plus"></i> Add New User</a><br><br>
								</div>

								<div class="col-md-1">

								</div>
							</div>
						</div>

					</div>
	    </div>
	  </div>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
