
# nodejs folder that keeps dependencies
node_modules

#log file for node
package-lock.json
.sass-cache/
sequelizeConfig
./server/config/ES6config.js
coverage/
server/test/unit
.env
swagger.yaml
swagger.json
apiDocDist
