*{
  box-sizing: border-box;
}
$themeBackgrounColor: #9AAAC7;
$themeMargin: 4em;
$themeColor: #fff;
$themeFont: monospace;
$themeBtnColor: $themeBackgrounColor;
$themeFontSize:20px;
$purpleliner: rgba(128, 0, 128, 0.4);

@mixin pagebody(){
  background-color: $themeColor;
  margin-left: 0;
  margin-right:0;
  padding-top: 0;
}

#listPane{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:  $purpleliner;
  margin: 10px;
  padding: 10px;
  flex: 1 1 auto;
  
  #userPic{
    display: inline-flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
  }
}
body{
	@include pagebody();
}

.navbar{
  background-color: $purpleliner;
  .nav{
  li{
    a{
      color: $themeColor;
      font-family: $themeFont;
      font-size: $themeFontSize;
    }
  }}
  .navbar-brand{
    color: $themeColor;
    font-family: $themeFont;
    font-size: $themeFontSize;
  }
} 

#pageContent{
  background-color:  $purpleliner;
  margin: 10px;
  padding: 2em;
  ul{
    .list-group{
      margin-top: 2em;
    }
  } 
}
#selectbottom{
  border-bottom: 2px solid orange;
  margin-bottom: 2em;
  color: $themeColor;
  font-family: $themeFont;
}
