*{
  box-sizing: border-box;
}
$themeBackgrounColor: #9AAAC7;
$themeMargin: 4em;
$themeColor: #fff;
$themeFont: monospace;
$themeBtnColor: $themeBackgrounColor;
$themeFontSize:20px;

@mixin formButton(){
  clear: both;
  display: block;
  margin: auto;
  color: $themeColor;
  font-family: $themeFont;
  background-color: $themeBtnColor;
  font-size: $themeFontSize;
}

@mixin pagebody(){
  background-color: $themeBackgrounColor;
  margin-left: 0;
  margin-right:0;
  padding-top: 0;
}

body{
	@include pagebody();
}

.navbar{
  background-color: $themeBackgrounColor;
  .nav{
  li{
    a{
      color: $themeColor;
      font-family: $themeFont;
      font-size: $themeFontSize;
    }
  }}
  .navbar-brand{
    color: $themeColor;
    font-family: $themeFont;
    font-size: $themeFontSize;
  }
} 

h1,h3,h5{
	color: $themeColor;
	font-family: $themeFont;
}

label{
color: $themeColor;
}

fieldset{
  width: 60%;
  display: block;
  margin: auto;
  padding: 1em;
  background-color:#8A7D99;
  border-radius: 2em;
}

.btn{
  @include formButton();
}

.flexContainer{
  display: -webkit-flex;
  display: flex;
  margin:auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 80%;
  background-color: #C911CF;
}

.flexItem{
  width: 50%;
  border-right: 2px solid #58AA0B;
  font-family: $themeFont; 
}