body{
	background-color: rgb(210,144,52);
	margin-top: 2em;
	display: flex;
	flex-direction:row;
	justify-contents:flex-start;
	overflow: auto;
}

.divcontainer{
	background-color: pink;
	width: 20%;
	height: 20%;
	margin: 4em;
	color: black;
	font-family: monospace;
	padding: 5px;
}

.divcontainer p {
	border-bottom: 3px black solid;
	font-family: monospace; 
	color: blue;
}
