body{
	background-color: rgb(210,144,52);
	margin-top: 4em;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

form{
	margin: auto;
	width: 70%;
	background-color: pink;
}

fieldset{
	padding: 1.5em;
}

#messageBox{
	background-color: white;
	color: black;
	margin: auto;
	display: block;
	margin-bottom: 1.5em;
}
#selectGroup{
	clear:right;
	width: 10em;
	font-family: cursive;
}

#sendMessage{
	clear: both;
	display: block;
	margin: auto;
}

label{
	font-family: monospace;
	font-size: 100%;
	color: black;
	text-align: center;
}

/* To remove the fieldset's border
fieldset{
	border-style: none; 
}
*/
#selectGroupLabel,#messageInstruction,#groupID{
	color: blue;
	font-family: monospace;
	font-size: 120%;
	margin: 5px;
}
#messageInstruction{
	text-align: center;
	display: block;
	margin: 1em;
}